.list {
  text-align: center;
  margin: auto;
  border: 5px solid blue;
  width: 700px;
}

.form {
  margin: auto;
  width: 700px;
}

.row {
  border: 2px solid black;
}

.rowBut {
  border: 5px solid red;
}

.delete {
  color: rgba(0, 0, 0, 0);
}

.filter {
  border: 5px solid black;
  width: 690px;
}

.table {
  border: 5px solid blue;
  width: 100%;
}
